.section-header {
	text-align: center;
	margin-top: 60px;
	&__text {
		display: inline-block;
		padding-bottom: 15px;
		font-family: 'Ubuntu';
		font-size: 40px;
		font-weight: 300;
		line-height: 36px;
		color: $text-color;
		border-bottom: 2px solid $main-theme-color;

	}
}
