.services {
	// background: none;

	&__article {
		@include j-center(920px);
		display: block;
		@include clearfix();
		margin-top: 55px;
		font-family: 'Ubuntu';
	}

	&__title {
		font-size: 16px;
		font-weight: 700;
		line-height: 23px;
		margin-bottom: 10px;
		color: $secondary-theme-color;
	}

	&__description {
		font-size: 12px;
		font-weight: 300;
		line-height: 20px;
	}

	&__detail {
		position: absolute;
		bottom: 15px;
		font-size: 14px;
		font-weight: 700;
		line-height: 20px;

		&:after {
			content: '';
			@include sprite($small-arrow);
			display: inline-block;
			position: absolute;
			right: -20px;
			bottom: 0;
		}
	}

	&__item {
		@include j-span(1/3);
		position: relative;
		padding: 10px 10px 0 15px;
		width: 248px;
		height: 218px;
		background-color: white;
		border-radius: 5px;
		box-shadow: 0 1px 5px rgba(67, 74, 84, 0.75);
		margin-bottom: 32px;

		&:not(:nth-child(3n)) {
			margin-right: 86px;
		}

		&:hover {
			background-color: rgba(107, 238, 167, 0.15);
		}

		/* Services icons */

		&.iso-logo {

			&:after {
				content: '';
				@include sprite($iso-logo);
				display: inline-block;
				position: absolute;
				right: 10px;
				bottom: 15px;
			}
		}
		&.guard {

			&:after {
				content: '';
				@include sprite($guard);
				display: inline-block;
				position: absolute;
				right: 10px;
				bottom: 15px;
			}
		}
		&.leaf {

			&:after {
				content: '';
				@include sprite($leaf);
				display: inline-block;
				position: absolute;
				right: 10px;
				bottom: 15px;
			}
		}
		&.tools {

			&:after {
				content: '';
				@include sprite($tools);
				display: inline-block;
				position: absolute;
				right: 10px;
				bottom: 15px;
			}
		}
		&.docs {

			&:after {
				content: '';
				@include sprite($docs);
				display: inline-block;
				position: absolute;
				right: 10px;
				bottom: 15px;
			}
		}
		&.eac {

			&:after {
				content: '';
				@include sprite($eac);
				display: inline-block;
				position: absolute;
				right: 10px;
				bottom: 15px;
			}
		}
		&.gost-r {

			&:after {
				content: '';
				@include sprite($gost-r);
				display: inline-block;
				position: absolute;
				right: 10px;
				bottom: 15px;
			}
		}
		&.fire {

			&:after {
				content: '';
				@include sprite($fire);
				display: inline-block;
				position: absolute;
				right: 10px;
				bottom: 15px;
			}
		}
		&.checklist {

			&:after {
				content: '';
				@include sprite($checklist);
				display: inline-block;
				position: absolute;
				right: 10px;
				bottom: 15px;
			}
		}

	}


}
