mixin about()
	section.about
		.container
			+section-header('О компании')
			article.about__article
				p.about__description: | «Международная Система Сертификации» - это добровольная система сертификации, применяемая в таких областях, как менеджмент качества работ и услуг, экологический, энергетический менеджмент, а также в других направлениях деятельности организаций как в Российской Федерации, так и за ее пределами. На сегодняшний день наличие сертификата ISO является одним из обязательных условий для заключения контрактов и участия в тендерах.	
				h4.scheme__title: | Схема работы с клиентами
				.scheme__wrapper
					.scheme__item.scheme__item_top
						.scheme__icon.call-in
						p.scheme__description: | Ваша заявка на получение сертификата
					.scheme__item.scheme__item_bottom
						.scheme__icon.bubbles
						p.scheme__description: | Согласование деталей
					.scheme__item.scheme__item_top
						.scheme__icon.wallet
						p.scheme__description: | Оплата счета за предоставяемые услуги
					.scheme__item.scheme__item_bottom
						.scheme__icon.clock
						p.scheme__description: | Оформление документации
					.scheme__item.scheme__item_top
						.scheme__icon.checkbox
						p.scheme__description: | Получение результата
