mixin menu()
	.menu
		button.dropdown-btn: | Услуги
		ul.dropdown-menu
			li.dropdown-menu__item.dropdown-menu__item_heading: | Сертификация ISO
			li.dropdown-menu__item: | Сертификация систем менеджмента качества
			li.dropdown-menu__item.dropdown-menu__item_inclusive: | ХАССП
				ul.inserted-menu
					li.inserted-menu__item: | ГОСТ Р ИСО 22000 - 2007 (ISO 22000:2005) 
					li.inserted-menu__item: | ГОСТ Р 54762-2011/ISO/TS 22002-1:2009 
					li.inserted-menu__item: | ГОСТ Р 51705.1-2001 
			li.dropdown-menu__item: | Сертификация систем безопасности
			li.dropdown-menu__item: | Сертификация социальной ответсвенности и защиты окружающей среды
			li.dropdown-menu__item: | Сертификация на соответсвия персонал и услуги
			li.dropdown-menu__item: | Внедрение ISO,разработка документации
			li.dropdown-menu__item.dropdown-menu__item_heading: | Сертификация продукции
			li.dropdown-menu__item: | Сертификаты Евразийского союза (ТР ТС)
			li.dropdown-menu__item: | Сертификация ГОСТ Р

			li.dropdown-menu__item: | Пожарная сертификация
			li.dropdown-menu__item.dropdown-menu__item_heading: | Дополнительные услуги
			li.dropdown-menu__item: | Допуски СРО
			li.dropdown-menu__item: | Лицензирование
			li.dropdown-menu__item: | Повышение квалификации
			li.dropdown-menu__item: | Банковские гарантии
				
