mixin news()
	section.news
		.container
			+section-header('Последние новости')
			article.news__article
				.news__block
					.news__item
						.news__heading
							img(src="/img/pic.jpg" alt="News pictograph").news__pictograph
							date.news__date: | 21.02.2016
							span.news__title: | Заголовок статьи
						a(href="#").news__text: | Идейные соображения высшего порядка, а также сложившаяся структура организации играет важную роль в формировании модели развития. Значимость этих проблем настолько очевидна, что новая модель организационной ...
					.news__item
						.news__heading
							img(src="/img/pic.jpg" alt="News pictograph").news__pictograph
							date.news__date: | 21.02.2016
							span.news__title: | Заголовок статьи
						a(href="#").news__text: | Идейные соображения высшего порядка, а также сложившаяся структура организации играет важную роль в формировании модели развития. Значимость этих проблем настолько очевидна, что новая модель организационной ...
					.news__item
						.news__heading
							img(src="/img/pic.jpg" alt="News pictograph").news__pictograph
							date.news__date: | 21.02.2016
							span.news__title: | Заголовок статьи
						a(href="#").news__text: | Идейные соображения высшего порядка, а также сложившаяся структура организации играет важную роль в формировании модели развития. Значимость этих проблем настолько очевидна, что новая модель организационной ...
					+button({'type' : 'button', 'text' : 'Читать все новости'}).button_empty.button_more
				.news__block
					.news__item
						.news__heading
							img(src="/img/pic.jpg" alt="News pictograph").news__pictograph
							date.news__date: | 21.02.2016
							span.news__title: | Заголовок статьи
						a(href="#").news__text: | Идейные соображения высшего порядка, а также сложившаяся структура организации играет важную роль в формировании модели развития. Значимость этих проблем настолько очевидна, что новая модель организационной ...
					.news__item
						.news__heading
							img(src="/img/pic.jpg" alt="News pictograph").news__pictograph
							date.news__date: | 21.02.2016
							span.news__title: | Заголовок статьи
						a(href="#").news__text: | Идейные соображения высшего порядка, а также сложившаяся структура организации играет важную роль в формировании модели развития. Значимость этих проблем настолько очевидна, что новая модель организационной ...
					.news__item
						.news__heading
							img(src="/img/pic.jpg" alt="News pictograph").news__pictograph
							date.news__date: | 21.02.2016
							span.news__title: | Заголовок статьи
						a(href="#").news__text: | Идейные соображения высшего порядка, а также сложившаяся структура организации играет важную роль в формировании модели развития. Значимость этих проблем настолько очевидна, что новая модель организационной ...
					+button({'type' : 'button', 'text' : 'Читать все публикации'}).button_empty.button_more
