mixin partners()
	section.partners
		.container
			+section-header('Наши партнеры')
			.partners
				.partners__carousel
					.partners__item
						img(src="img/partners1.jpg", alt="").partners__item-image
					.partners__item
						img(src="img/partners2.jpg", alt="")
					.partners__item
						img(src="img/partners3.jpg", alt="")
