mixin services()
	section.services
		+section-header('Предоставляемые услуги')
		.container
			article.services__article
				.services__item
					.services__title: | Сертификация систем менеджмента качества
					.services__description: | ХАССП, ГОСТ Р ИСО 9001 - 2015, Интегрированные cистемы менеджмента... 
					a(href="#").services__detail: | Подробнее
				.services__item
					.services__title: | Сертификация систем безопасности
					.services__description: | OHSAS 18001:2007, ISO/IEC 27001:2005, ГОСТ Р ИСО 28000:2007...
					a(href="#").services__detail: | Подробнее
				.services__item
					.services__title: | Сертификация социальной ответственности и защиты окружающей среды
					.services__description: | ГОСТ Р ИСО 14001 – 2007, ГОСТ Р ИСО 50001-2012, ГОСТ Р ИСО 26000-2012...
					a(href="#").services__detail: | Подробнее
				.services__item
					.services__title: | Сертификат соответствия на персонал и услуги
					.services__description: | Сертификат соответствия на персонал, Сертификат соответствия на услуги...
					a(href="#").services__detail: | Подробнее
				.services__item
					.services__title: | Внедрение ISO, разработка документации
					.services__description: | Дистанционная разработка документации, Выездной аудит...
					a(href="#").services__detail: | Подробнее
				.services__item
					.services__title: | Сертификаты Евразийского союза (ТР ТС)
					.services__description: | ТР ТС для пищевой продукции, ТР ТС для не пищевой продукции... 
					a(href="#").services__detail: | Подробнее
				.services__item
					.services__title: | Сертификация ГОСТ Р
					.services__description: | Сертификат соответствия ГОСТ Р, Декларация соответствия ГОСТ Р, Сертификат соответствия ТР...
					a(href="#").services__detail: | Подробнее
				.services__item
					.services__title: | Пожарная сертификация
					.services__description: | Сертификат соответствия пожарной безопасности, Декларация пожарной безопасности, Отказное письмо пожарной безопасности...
					a(href="#").services__detail: | Подробнее
				.services__item
					.services__title: | Дополнительные услуги
					.services__description: | Допуски СРО, Лицензирование, Повышение квалификации...
					a(href="#").services__detail: | Подробнее
