mixin simple-menu()
	.simple-menu
		ul.simple-menu__list
			li.simple-menu__item: a(href="#").simple-menu__link: | Сертификация систем менеджмента качества
			li.simple-menu__item: a(href="#").simple-menu__link: | Сертификация систем безопасности
			li.simple-menu__item: a(href="#").simple-menu__link: | Сертификация социальной ответственности и защиты окружающей среды
			li.simple-menu__item: a(href="#").simple-menu__link: | Сертификат соответствия на персонал и услуги
			li.simple-menu__item: a(href="#").simple-menu__link: | Допуски СРО
		ul.simple-menu__list
			li.simple-menu__item: a(href="#").simple-menu__link: | Внедрение ISO, разработка документации
			li.simple-menu__item: a(href="#").simple-menu__link: | Сертификаты Евразийского союза (ТР ТС)
			li.simple-menu__item: a(href="#").simple-menu__link: | Сертификация ГОСТ Р
			li.simple-menu__item: a(href="#").simple-menu__link: | Пожарная сертификация
			li.simple-menu__item: a(href="#").simple-menu__link: | Банковские гарантии
			li.simple-menu__item: a(href="#").simple-menu__link: | Лицензирование
			li.simple-menu__item: a(href="#").simple-menu__link: | Повышение квалификации
