mixin simple-company()
	.simple-company
		ul.simple-company__list
			li.simple-company__item: a(href="#").simple-company__link: | Аккредитация    
			li.simple-company__item: a(href="#").simple-company__link: | Специалисты       
			li.simple-company__item: a(href="#").simple-company__link: | Сертификаты     
			li.simple-company__item: a(href="#").simple-company__link: | Отзывы
			li.simple-company__item: a(href="#").simple-company__link: | Партнеры
			li.simple-company__item: a(href="#").simple-company__link: | Вакансии
			li.simple-company__item: a(href="#").simple-company__link: | Реквизиты
