@import "_blocks/logo";
@import "_blocks/navigation";
@import "_blocks/search";
@import "_blocks/menu";
@import "_blocks/contacts";
@import "_blocks/button";
@import "_blocks/banner";
@import "_blocks/about-section";
@import "_blocks/section-header";
@import "_blocks/services-section";
@import "_blocks/news-section";
@import "_blocks/partners-section";


/* ==========================================================================
   Custom base styles
   ========================================================================== */

.container {
	@include j-center(1200px, 15px);
	@include clearfix();
}

.wrapper {
	min-width: 1198px;
	@include j-center(1444px);
}

.header {
	// background: #fe2;
	box-shadow: 0 8px 9.5px 0.5px rgba(19, 60, 66, 0.2);
}


.header-top, .header-bottom {
	float: left;
	margin-left: 75px;
	@include clearfix();
}

.decoration {
	@include j-center(1440px);
	// height: 3200px;
}

.main {
	background: url("/img/bg-decor.jpg") no-repeat top center;
	background-size: cover;

}


* {
	box-sizing: border-box;
}
