@import "_blocks/logo";
@import "_blocks/navigation";
@import "_blocks/search";
@import "_blocks/menu";
@import "_blocks/contacts";
@import "_blocks/button";
@import "_blocks/banner";
@import "_blocks/about-section";
@import "_blocks/section-header";


/* ==========================================================================
   Custom base styles
   ========================================================================== */

.container {
	@include j-center(1200px, 15px);
	@include clearfix();
}

.wrapper {
	min-width: 1198px;

}

.header {
	// background: #fe2;
	box-shadow: 0 8px 9.5px 0.5px rgba(19, 60, 66, 0.2);
}


.header-top, .header-bottom {
	float: left;
	margin-left: 75px;
	@include clearfix();
}

* {
	box-sizing: border-box;
}
