include _blocks/_logo
include _blocks/_navigation
include _blocks/_search
include _blocks/_dropdown-menu
include _blocks/_contacts
include _blocks/_button

header.header
	.container
		+logo({'src' : 'img/logo-header.svg'}).logo_header
		.header-top
			+nav
			+search
		.header-bottom
			+menu
			+contacts().contacts_header
			+button({'text' : 'Заказать звонок', 'type' : 'button'}).button_call.button_filled
